body,
html {
    height: 100%;
    width: 100%;
}

a {
    color: #666;
}

.hot-search a.active {
    color: #e3393c;
}

.block {
    display: block !important;
}

.cart-list {
    overflow: auto !important;
    height: 550px !important;
}

.right-side-menu {
    z-index: 2;
}


/* body{background-color: #212121} */

#exzoom {
    width: 400px;
    /*height: 400px;*/
    margin: 20px auto;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: white;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13.3333px Arial;
    padding: 1px 0px;
    outline: none;
    border-width: 2px;
    border-style: inset;
    border-color: initial;
    border-image: initial;
}

* {
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
}

body {
    color: #666;
    background: #fff;
    font: 12px/1.5 Arial, 'microsoft yahei', 'SimSun';
}

div {
    display: block;
}

.top {
    width: 100%;
    line-height: 31px;
    background: #f5f4f4;
    color: #7f7f7a;
    position: relative;
    z-index: 900;
    height: 31px;
    margin: 0 auto;
    border-bottom: 1px solid #e6e6e6;
}

.zjj {
    color: #000 !important;
}

.top-c {
    width: 1190px;
    margin: 0 auto;
}

.top-c .hello {
    float: left;
    display: inline;
}

.top a {
    color: #7f7f7a;
}

.top-c .top-link {
    margin-left: 10px;
    color: #e3393c;
}

.top .top-center {
    width: 200px;
    float: left;
    margin-left: 44px;
}

.top .top-center li {
    float: left;
}

.top .top-center .dl::after {
    content: "|";
    padding: 0 11px;
    color: #e6e6e6;
}

.top .quick_list {
    float: right;
    height: 30px;
}

.top .quick_list li {
    height: 31px;
    line-height: 31px;
    padding: 0 8px 0 8px;
    float: left;
    position: relative;
}

.top li b {
    transition: transform .2s ease-in 0s;
    -webkit-transition: -webkit-transform .2s ease-in 0s;
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #cecece transparent transparent;
    border-width: 4px 4px 0;
    margin-left: 3px;
    position: relative;
    top: -3px;
}


/* *****************************************搜索框区域**************************************** */

.header {
    width: 100%;
    background-color: #fff;
}

.search-bar {
    height: 90px;
    padding-top: 30px;
    width: 1190px;
    margin: 0 auto;
    position: relative;
}

.head-box {
    height: 90px;
    padding-top: 30px;
    width: 1190px;
    margin: 0 auto;
    position: relative;
}

.logo {
    float: left;
    width: 200px;
    max-height: 60px;
    height: 30px;
}

.logo img {
    display: inline-block;
    max-width: 200px;
    max-height: 60px;
}

.gif {
    float: left;
    position: relative;
    left: 10px;
}

.search {
    float: right;
    position: relative;
    right: 250px;
    width: 590px;
    height: 38px;
    z-index: 100;
}

.cl {
    zoom: 1;
}

.search-form {
    margin-bottom: 4px;
    position: relative;
    border: 2px solid #dd0207;
}

.search-form ul {
    position: absolute;
    left: 0;
    background-color: #fff;
    width: 55px;
    line-height: 32px;
    font-size: 12px;
    box-shadow: 0 2px 4px #ddd;
    border: 1px solid #ddd;
    z-index: 2;
    display: none;
}

.search-form ul li {
    cursor: pointer;
    text-indent: 12px;
}

.search-form label {
    position: absolute;
    left: 0;
    width: 55px;
    text-indent: 12px;
    font-size: 12px;
    border-top: 1px solid #dd0207;
    border-bottom: 1px solid #dd0207;
    line-height: 34px;
    cursor: pointer;
    color: #484e52;
    border-left: 1px solid #fcd5db;
}

.search-form label:after {
    content: '';
    position: absolute;
    top: 15px;
    right: 0;
    border-top: 5px solid #cecece;
    border-left: 4px dashed transparent;
    border-right: 4px dashed transparent;
    font-size: 0;
    width: 0;
    height: 0;
}

.search-form .text {
    width: 450px;
    height: 34px;
    padding-left: 12px;
    position: relative;
    left: 56px;
    background-color: #fff;
    line-height: 34px;
    color: rgb(51, 51, 51);
    font-size: 12px;
    border-right: 0;
    border: 0 none;
}

.search-form .button {
    background: #dd0207;
    width: 67px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    line-height: 34px;
    letter-spacing: 2px;
    border-left: 1px solid #f45670;
    float: right;
    border: 0 none;
    text-align: center;
}

.cl:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.hot-search {
    height: 20px;
    color: #999;
    overflow: hidden;
    margin-top: 5px;
}

.hot-search a {
    margin-right: 10px;
    font-size: 12px;
    cursor: pointer;
}

.hot-search a :hover {
    color: red;
}

.top-head-ad {
    width: 160px;
    height: 80px;
    position: absolute;
    right: 0;
    top: 20px;
}

.nav-bar {
    background: #fff;
    border-bottom: 1px solid #d2041f;
    position: relative;
    z-index: 88;
    width: 100%;
    margin: 0 auto;
}

.nav-bar .nav-content {
    position: relative;
    z-index: 6;
    padding-left: 200px;
    width: 990px;
    margin: 0 auto;
}

.cate-all {
    font-size: 16px;
}

.cate-all a {
    color: #fff;
    margin-left: 14px;
    padding-left: 31px;
    line-height: 35px;
    background-image: url(https://www.zhongjiu.cn/Areas/Web/Images/HIMALL_admin11_04_03.png);
    background-repeat: no-repeat;
    background-position: left center;
}

.nav {
    filter: none;
    height: 35px;
    overflow: hidden;
}

.categorys {
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 37px;
    background-color: #dd0207;
}

._banner#homePage {
    margin-left: 56px;
}

.nav li._banner.cur {
    border-bottom: 3px solid #e3393c;
}

.nav li {
    float: left;
    position: relative;
    margin-right: 78px;
}

.nav li.cur a,
.nav li:hover a {
    color: #f00f34;
}

.nav li a {
    display: block;
    color: #373a40;
    font-size: 15px;
    text-decoration: none;
    line-height: 35px;
    transition: all .3s;
}


/* tab选项卡 */

.categorys .item {
    width: 200px;
    height: 80px;
    border-bottom: 1px solid #323b42;
}

.categorys span:hover {
    background: #323b42;
}

.categorys span {
    display: block;
    width: 184px;
    height: 80px;
    position: absolute;
    z-index: 1;
    background-color: #3d4851;
    opacity: .9;
    padding-left: 16px;
}

.categorys h3 {
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
    color: #fff;
    position: relative;
    padding: 19px 0 12px;
}

.categorys h3 i:first-child {
    display: block;
}

.categorys h3 i {
    display: inline-block;
    float: left;
    width: 21px;
    height: 21px;
}

.categorys h3 a {
    color: #fff;
}

.categorys p a {
    color: #FFFFFF;
    font-size: 13px;
    padding: 3px 4px;
}

.categorys .item .category-details {
    display: none;
    position: absolute;
    left: 200px;
    width: 780px;
    top: 37px;
    border-top: 0;
    background: #fff;
    overflow: hidden;
}

.categorys .subitem {
    float: left;
    width: 600px;
    min-height: 490px;
    display: table;
}

.categorys .subitem dl {
    overflow: hidden;
    zoom: 1;
    width: 540px;
    margin-left: 30px;
    padding: 15px 0;
    display: inline-block;
    vertical-align: top;
    *display: inline;
    *zoom: 1;
    border-bottom: 1px dashed #dbdbdb;
}

.categorys .subitem dl dt {
    margin-right: 22px;
    border-bottom: 1px solid #313131;
    padding-bottom: 15px;
    font-size: 14px;
    color: #313131;
    font-weight: bold;
}

.categorys .subitem .first dd {
    border-top: 0;
}

.categorys .subitem dl dd {
    padding: 15px 0;
}

.categorys .subitem dl dd ul {
    width: 100%;
    overflow: hidden;
}

.categorys .subitem ul li:first-child {
    width: 80px;
}

.categorys .subitem ul li {
    float: left;
    width: 90px;
    height: 24px;
    line-height: 24px;
    overflow: hidden;
    color: #313131;
}

.categorys .item .category-details .cate-right {
    width: 180px;
    float: left;
    background-color: #f7f7f7;
    height: 490px;
}

.categorys .cate-right h5 {
    line-height: 38px;
    text-align: center;
    font-size: 12px;
    color: #3e3a39;
}

.categorys .cate-right img {
    width: 180px;
    height: 320px;
}


/* #############################################轮播图区域###################################################### */

.swiper {
    width: 100%;
    height: 491px;
    position: relative;
}

.swiper-container {
    height: 100%;
    width: 100%;
}

.swiper-slide img {
    width: 100%;
    height: 100%;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    display: inline-block;
    opacity: 1;
    border-radius: 100%;
    margin: 5px;
    background: #fff;
}

.swiper-pagination-bullet:hover {
    background: none;
    border: #fff solid 3px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: none;
    border: #fff solid 4px;
}

.swiper-pagination {
    line-height: 24px
}

.swiper .small-banner {
    position: absolute;
    top: 0;
    right: 50%;
    margin-right: -593px;
    width: 200px;
    height: 490px;
    z-index: 5;
}

.swiper .small-banner img {
    opacity: .9;
    filter: alpha(opacity=9);
    transition: transform .2s linear;
    width: 200px;
    height: 243px;
}

.swiper .small-banner img:nth-of-type(1) {
    margin-top: 0px;
}


/* .lazyload:hover {
    transform: translateX(-5px)
} */


/* @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@热销爆款@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.content {
    width: 1190px;
    margin: 0 auto;
}

.content_re {
    width: 1190px;
    overflow: hidden;
    margin-bottom: 30px;
    padding-top: 10px;
}

.floor-title {
    margin: 20px 0 5px 0;
}

.floor-hdfirst {
    margin-top: 20px;
}

.floor-hd2 {
    height: 35px;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
    margin-bottom: 4px;
}

.floor-hdfirst {
    margin-top: 0;
}

.floor-hd {
    height: 32px;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
    margin-bottom: 4px;
}

.floor {
    margin: 20px 0 5px 0;
    height: 35px;
    border-bottom: 1px solid #c9c9c9;
}

.gengduo {
    float: right;
    display: block;
    font-size: 16px;
    line-height: normal;
    line-height: 30px;
}

.floor-hd ul {
    float: right;
    line-height: 32px;
    margin-right: 20px;
}

.floor-hd2 ul {
    float: left;
    line-height: 35px;
    margin-right: 20px;
    margin-top: -2px;
}

.floor-hd2 ul li.active {
    border-top: 2px solid #cc0000;
    border-bottom: 1px solid #fff;
    height: 35px;
    color: #cc0000;
    line-height: 35px;
    background: #fff;
}

.content-right-tab {
    display: none;
    z-index: 100;
}

.floor-hdfirst2 ul li {
    height: 35px;
    width: 185px;
    margin-left: 0;
    cursor: pointer;
    text-align: center;
    line-height: 35px;
    font-size: 16px;
    color: rgb(102, 102, 102);
    border-left: 1px solid rgb(236, 236, 236);
    border-right: 1px solid rgb(236, 236, 236);
    border-bottom: 1px solid rgb(236, 236, 236);
    border-top: 2px solid rgb(236, 236, 236);
    background: rgb(249, 249, 249);
}

.content-right-img {
    z-index: 1;
    display: none;
}

.floor-hd ul li {
    float: left;
    margin-left: 50px;
    font-size: 16px;
    color: #2c2c2c;
    cursor: pointer;
    /* max-width: 100px; */
    height: 32px;
    position: relative;
}

.floor-hd li:hover {
    color: red;
}

.content_recont {
    overflow: hidden;
}

.content_recont ul {
    width: 1206px;
}

.content_recont ul li {
    float: left;
    width: 230px;
    height: 220px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 10px;
}

.content_recont ul li h3 {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #333333;
    padding-left: 0;
    line-height: 20px;
    height: 24px;
    padding-left: 20px;
    font-weight: normal;
}

.content_recont ul li p {
    padding-top: 5px;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
    color: #f00f34;
    padding-left: 20px;
}

.content_recont ul li p span {
    font-weight: bold;
}

.content_recont ul li img {
    width: 230px;
    height: 170px;
    transition: all 0.3s;
}


/* $$$$$$$$$$$$$$$$$$$$$$$$$$$楼层导航$$$$$$$$$$$$$$$$$$$$$$$$$$$$ */

.floor-nav {
    position: fixed;
    width: 37px;
    background: #fff;
    left: 50%;
    top: 50%;
    margin-left: -650px;
    display: none;
}

.floor-nav li:hover,
.floor-nav li.cur {
    background: #e3393c;
}

.floor-nav li:hover a,
.floor-nav li.cur a {
    width: 28px;
}

.floor-nav li:last-child a {
    border: 0;
}

.floor-nav a {
    width: 19px;
    height: 30px;
    line-height: 30px;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    display: block;
    margin: 0 auto;
    border-bottom: 1px dotted #c9c9c9;
    color: #625352;
    cursor: pointer;
}

.floor-nav li:hover span,
.floor-nav li.cur span {
    display: inline;
    color: #fff;
}

.floor-nav a span {
    display: none;
}

.floor-nav li:hover em,
.floor-nav li.cur em {
    display: none;
}

.floor-nav a em {
    font-size: 14px;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!帮你选酒 !!!!!!!!!!!!!!!!!!!!!!*/

.content_recont ul {
    width: 1206px;
}

.content_recont ul li {
    float: left;
    width: 230px;
    height: 220px;
    overflow: hidden;
    margin-right: 10px;
    margin-top: 10px;
}

.content_recont ul li img {
    width: 230px;
    height: 170px;
    transition: all 0.3s;
}

.content_recont ul li h3 {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    color: #333333;
    padding-left: 0;
    line-height: 20px;
    height: 24px;
    padding-left: 20px;
    font-weight: normal;
}

.content_recont ul li p {
    padding-top: 5px;
    height: 24px;
    line-height: 20px;
    font-size: 16px;
    color: #f00f34;
    padding-left: 20px;
}

.content_recont ul li p span {
    font-weight: bold;
}


/* //楼层 */

.floor {
    margin-bottom: 30px;
}

.floor-hd {
    height: 32px;
    border-bottom: 1px solid #c9c9c9;
    background-color: #fff;
    margin-bottom: 4px;
}

.floor-hd h3 {
    height: 18px;
    width: 20%;
    float: left;
    line-height: 18px;
    color: #3d4048;
    font-size: 16px;
    border-left: 4px solid #f00f34;
    padding-left: 12px;
    font-weight: bold;
}

.floor-hd ul {
    float: right;
    line-height: 32px;
    margin-right: 20px;
}

.floor-hd ul li {
    float: left;
    margin-left: 50px;
    font-size: 16px;
    color: #2c2c2c;
    cursor: pointer;
    /* max-width: 100px; */
    height: 32px;
    position: relative;
}

.floor-hd ul li a {
    color: #424242;
    display: block;
}

.floor-hd ul li s {
    width: 10px;
    height: 6px;
    position: absolute;
    top: 27px;
    right: 42%;
    background-image: url(https://www.zhongjiu.cn/Areas/Web/Images/himall_web_add.png);
    background-repeat: no-repeat;
    display: none;
}

.floor .content-left {
    width: 230px;
    height: 450px;
    float: left;
    background-color: #fbfbfb;
    margin-right: 10px;
    position: relative;
}

.content-left .slide {
    width: 230px;
    height: 450px;
    overflow: hidden;
    position: relative;
}

.content-left .slide img {
    width: 100%;
    height: 100%;
}

.content-left .cata-flo {
    width: 230px;
    height: 124px;
    position: absolute;
    left: 0;
    bottom: 185px;
    overflow: hidden;
}

.content-left table {
    width: 186px;
    height: 98px;
    margin: 26px auto;
}

.content-left table td {
    height: 24px;
    width: 83px;
    text-align: left;
    line-height: 24px;
    float: left;
    overflow: hidden;
}

.content-left table a {
    color: #292929;
    font-size: 12px;
}

.content-brand .prev {
    width: 9px;
    height: 14px;
    background-image: url(https://www.zhongjiu.cn/Areas/Web/Images/Himall_web.png);
    background-repeat: no-repeat;
    background-position: -1351px -26px;
    position: absolute;
    left: 4px;
    top: 62px;
    cursor: pointer;
}

.content-brand .next {
    width: 9px;
    height: 14px;
    background-image: url(https://www.zhongjiu.cn/Areas/Web/Images/Himall_web.png);
    background-repeat: no-repeat;
    background-position: -1377px 0px;
    position: absolute;
    right: 4px;
    top: 62px;
    cursor: pointer;
}

.content-brand .brand-A {
    width: 195px;
    height: 142px;
    overflow: hidden;
    margin: 0 auto;
}

.content-brand .brand-A .brandA-wrap {
    width: 2000px;
    height: 142px;
    position: relative;
}

.content-brand .brand-A .brandA-wrap .scroll-A {
    width: 195px;
    height: 142px;
    float: left;
    position: relative;
    margin: 20px 0 0 0;
}

.content-brand li {
    float: left;
    width: 90px;
    height: 45px;
    margin-right: 6px;
    margin-bottom: 6px;
    background: #fff;
}

.content-brand li img {
    width: 90px;
    height: 45px;
    vertical-align: middle;
    display: inline;
    /* margin: 10px 0 0 0; */
}

.content-brand li:first-child {
    border: 0;
}

.content-right-box {
    float: left;
    width: 950px;
    background-color: #fff;
}

.content-right-img li.fore1 {
    width: 470px;
    height: 450px;
    margin-right: 10px;
}

.content-brand {
    float: left;
    width: 230px;
    height: 171px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
}

.content-right-img li.fore2,
.content-right-img li.fore4 {
    margin-right: 7px;
}

.content-right-img li.fore2,
.content-right-img li.fore3 {
    margin-bottom: 9px;
}

.content-right-img li {
    float: left;
    width: 230px;
    height: 220px;
}

img li.fore3 {
    margin-bottom: 9px;
}

img li.fore4 {
    margin-right: 7px;
}

.content-right-img li {
    float: left;
    width: 230px;
    height: 220px;
}

.content-right-img img {
    width: 100%;
    height: 100%;
}

.floor .floor-content .content-right-tab li {
    width: 160px;
    height: 205px;
    padding: 10px 14px;
    border-right: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    float: left;
}

.floor .content-right-tab li .p-img {
    width: 160px;
    height: 160px;
}

.floor .content-right-tab li .p-img img {
    width: 160px;
    height: 160px;
}

.floor .content-right-tab li p {
    padding-top: 5px;
    height: 24px;
    line-height: 24px;
    font-size: 14px;
    color: #f00f34;
}

.floors,
.floor {
    transition: 1s linear 0.6s;
}

.floor .content-right-tab li h3 {
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.floor .content-right-tab li h3 a {
    font-size: 12px;
    color: #333333;
    line-height: 20px;
}

.floor .floor-content .Content2 li {
    width: 226px;
    height: 220px;
    margin-right: 10px;
    float: left;
    margin-top: 10px;
}

.floor .floor-content .Content2 li img {
    width: 230px;
    height: 220px;
}

.floor .floor-content .Content2 li:nth-of-type(2) {
    width: 470px;
    height: 220px;
}

.floor .floor-content .Content2 li:nth-of-type(2) img {
    width: 470px;
    height: 220px;
}

.ce {
    clear: both;
}

.floor {
    height: 717px;
    overflow: hidden;
}


/* 右边侧边栏 */

.right-side {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    z-index: 999;
}

.right-side-menu {
    height: 100%;
    width: 40px;
    background-color: #2a2a2e;
    position: relative;
    float: left;
}

.right-side-menu ul.menu-top {
    top: 15%;
}

.right-side-menu ul {
    position: absolute;
}

.right-side-menu li {
    width: 40px;
    height: 40px;
    margin: 10px 0;
    cursor: pointer;
    position: relative;
}

.right-side-menu ul s {
    width: 20px;
    border-bottom: 1px solid #505053;
    display: block;
    margin-left: 10px;
}

.right-side-menu li i {
    display: block;
    width: 40px;
    height: 40px;
}

.right-side-menu li i.user s {
    display: block;
    width: 19px;
    height: 19px;
    background-position: -1403px -26px;
    top: 10px;
}

.right-side-menu li i s {
    background: url(https://www.zhongjiu.cn/Areas/Web/Images/Himall_web.png) no-repeat;
    border: none;
    margin: auto;
    position: relative;
}

.right-side-menu li span {
    display: none;
    position: absolute;
    right: 60px;
    opacity: 0;
    top: 0;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #494949;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    position: absolute;
}

.right-side-menu li.side-cart {
    height: 120px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
}

.right-side-menu li.side-cart p {
    color: #fff;
    padding: 0 14px;
    margin: 2px 0;
}

.right-side-menu li.side-cart em {
    display: inline-block;
    padding: 0 3px;
    min-width: 14px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    background-color: #e3393c;
    color: #fff;
}

.right-side-menu li i.cart s {
    display: block;
    width: 16px;
    height: 14px;
    background-position: -1429px -0px;
    top: 22px;
}

.right-side-menu li span {
    display: none;
    position: absolute;
    right: 60px;
    opacity: 0;
    top: 0;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    background-color: #494949;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    position: absolute;
}

.right-side-menu li i.asset s {
    display: block;
    width: 16px;
    height: 18px;
    background-position: -1429px -26px;
    top: 10px;
}

.right-side-menu li .side-point {
    display: none;
    position: absolute;
    right: 40px;
    top: 0;
    width: 120px;
    line-height: 30px;
    padding: 10px 0;
    text-align: center;
    color: #fff;
    background-color: #494949;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    position: absolute;
}

.right-side-menu li .side-point a {
    background-color: #e3393c;
    border-radius: 4px;
    padding: 0 10px;
    margin: 2px 0;
    color: #fff;
    display: inline-block;
    line-height: 20px;
}

.right-side-menu li i.at-goods s {
    display: block;
    width: 17px;
    height: 16px;
    background-position: -1455px 0;
    top: 12px;
}

.right-side-menu li i.history s {
    display: block;
    width: 19px;
    height: 19px;
    background-position: -1455px -26px;
    top: 10px;
}

.right-side-menu li span :hover {
    background: red;
}


/* ************************旗舰店*************************** */

.Brand-shop {
    margin: 0 auto;
    width: 1190px;
    height: 413px;
}

.Brand-shop h3 {
    font-size: 18px;
    color: #3d4048;
    height: 18px;
    padding-bottom: 15px;
    line-height: 18px;
}

.Brand-shop .BD-content {
    height: 380px;
    width: 1190px;
}

.Brand-shop .BD-content .BD-left,
.Brand-shop .BD-content .BD-right {
    width: 280px;
    height: 350px;
    float: left;
}

.Brand-shop .BD-content .BD-left img,
.Brand-shop .BD-content .BD-right img {
    width: 280px;
    height: 350px;
}

.Brand-shop .BD-content .BD-mid {
    width: 550px;
    height: 307px;
    border-top: 2px solid #f3f3f3;
    border-bottom: 2px solid #f3f3f3;
    float: left;
    padding: 20px 40px;
    position: relative;
    overflow: hidden;
}

.Brand-shop .BD-content .BD-mid .bd-prev {
    width: 26px;
    height: 38px;
    position: absolute;
    background-image: url(https://www.zhongjiu.cn/Areas/Web/Images/Himall_admin.png);
    background-repeat: no-repeat;
    background-position: -4px 0;
    cursor: pointer;
    left: 7px;
    top: 152px;
}

.Brand-shop .BD-content .BD-mid .bd-next {
    width: 26px;
    height: 38px;
    position: absolute;
    background-image: url(https://www.zhongjiu.cn/Areas/Web/Images/Himall_admin.png);
    background-repeat: no-repeat;
    background-position: -4px -40px;
    cursor: pointer;
    right: 7px;
    top: 152px;
}

.Brand-shop .BD-content .BD-mid .BD-wrap {
    width: 550px;
    height: 306px;
    overflow: hidden;
}

.BD-content .BD-mid .BD-wrap .scroll-wrap {
    height: 306px;
    width: 10000px;
    position: relative;
}

.BD-content .BD-mid .BD-wrap .scroll-brand {
    width: 550px;
    height: 306px;
    float: left;
    position: relative;
}

.BD-content .BD-mid .BD-wrap .scroll-brand li {
    width: 110px;
    height: 100px;
    float: left;
}

.BD-content .BD-mid .BD-wrap .scroll-brand li a {
    width: 111px;
    height: 62px;
    margin-top: 20px;
    display: inline-block;
    background-image: url(https://www.zhongjiu.cn/Areas/Web/Images/brand_03.png);
    background-repeat: no-repeat;
    background-position: right center;
}

.BD-content .BD-mid .BD-wrap .scroll-brand li a img {
    width: 100px;
    height: 50px;
    margin: 6px auto;
}

.Brand-shop .BD-content .BD-mid li:nth-of-type(5n) a {
    background-image: none;
}


/* !!!!!!!!!!!!!!!!!!!!!!!!底部!!!!!!!!!!!!!!!!!!!! */

.footer {
    width: 100%;
}

.ensure {
    width: 100%;
    height: 108px;
    border-bottom: 1px solid #d6d6d6;
    background: #f8f8f8;
}

.wrap1190 {
    width: 1190px;
    margin: 0 auto;
}

.ensure dl {
    margin-right: 36px;
    margin-top: 33px;
}

.fl {
    float: left;
}

.ensure dl .zhengpin {
    background: url(http://www.zhongjiu.cn/Images/icon.png) 0 -37px no-repeat;
}

.fr {
    float: right;
}

.ensure dl dd h3 {
    font-size: 16px;
    color: #313131;
    padding-bottom: 2px;
}

.ensure dl dd p {
    font-size: 13px;
    color: #666666;
}

.ensure dl .lingjun {
    background: url(http://www.zhongjiu.cn/Images/icon.png) -57px -37px no-repeat;
}

.ensure dl .tuihuo {
    background: url(http://www.zhongjiu.cn/Images/icon.png) -125px -37px no-repeat;
}

.ensure dl dt {
    width: 55px;
    height: 40px;
}

.ensure dl .peisong {
    background: url(http://www.zhongjiu.cn/Images/icon.png) -181px -37px no-repeat;
}

.ensure dl .koubei {
    background: url(http://www.zhongjiu.cn/Images/icon.png) -241px -37px no-repeat;
}

.ensure dl .ser {
    background: url(http://www.zhongjiu.cn/Images/icon.png) -301px -37px no-repeat;
}

.fservice {
    width: 100%;
    height: 189px;
    background: #f3f3f3;
    padding-top: 35px;
}

.fservice dl.linkothers {
    width: 200px;
    margin-top: 5px;
}

.fservice dd a {
    height: 24px;
    line-height: 24px;
}

.fservice dl {
    width: 141px;
    float: left;
}

.fservice dl.linkothers a {
    margin-bottom: 20px;
    display: block;
    height: auto;
    line-height: normal;
}

.fservice dt {
    height: 36px;
    line-height: 36px;
    font-size: 15px;
    font-weight: bold;
    color: #313131;
}

.cl:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.fservice dl.web,
.fservice dl.weixin {
    float: right;
    width: 110px;
}

.fservice dl.weixin {
    margin-right: 25px;
}

.fservice dl.web,
.fservice dl.weixin {
    margin-top: -10px;
}

.fservice dl.web dt,
.fservice dl.weixin dt,
.fservice dl.web dd,
.fservice dl.weixin dd {
    text-align: center;
}

.fservice dl.weixin dd {
    background: url(https://www.zhongjiu.cn/Images/mob.jpg) center top no-repeat;
    padding-top: 90px;
    display: block;
}

.fservice dl.web,
.fservice dl.weixin {
    float: right;
    width: 110px;
    margin-top: -10px;
}

.fservice dl.web dd {
    background: url(https://www.zhongjiu.cn/Images/wx.jpg) center top no-repeat;
    padding-top: 90px;
    display: block;
}

.link {
    height: 39px;
    line-height: 39px;
    background-color: #313131;
    text-align: center;
    clear: both;
}

.link a {
    padding: 0 14px;
    border-left: 1px solid #fff;
    text-align: center;
    font-size: 13px;
    color: #FFF;
}

.link a:first-child {
    border-left: 0 none;
}

.copyright {
    height: 110px;
    text-align: center;
}

.copyright p {
    color: #666;
    padding: 10px 0 0px;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.beian {
    margin: 0 auto;
    text-align: center;
}

.beian a {
    display: inline-block;
    width: 114px;
    height: 41px;
    margin: 0 0 0 5px;
}

.beian a img {
    width: 100%;
    height: 100%;
}


/* ******************侧边购物车******************* */

.side-cart-c {
    position: relative;
    height: 100%;
    background-color: #e6e6e6;
    padding-left: 41px;
    /* display: flex; */
    width: 220px !important;
    flex-direction: column-reverse;
}

.side-content .side-bd {
    position: relative;
}

.side-bd .cart-top {
    height: 28px;
    line-height: 28px;
    background-color: #e6e6e6;
}

.side-bd .cart-top label {
    margin-left: 13px;
}

.side-bd .cart-top label input {
    vertical-align: middle;
    margin-right: 3px;
}

input {
    font: 12px/1.5 tahoma, Arial, 'microsoft yahei', 'SimSun';
}

.side-bd .cart-top a {
    float: right;
    margin-right: 18px;
}

.side-bd .cart-list li:first-child {
    margin: 0;
}

.side-bd .cart-list li {
    padding-left: 8px;
    margin-top: 16px;
    background-color: #fff;
}

.cart-list .cart-list-shop {
    height: 29px;
    line-height: 18px;
    overflow: hidden;
    background-color: #fff;
}

.cart-list .cart-list-shop input[type="checkbox"] {
    margin: 7px 5px;
    float: left;
}

input {
    font: 12px/1.5 tahoma, Arial, 'microsoft yahei', 'SimSun';
}

.cart-list .cart-list-shop p {
    border-bottom: 1px solid #e6e6e6;
    padding: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #333;
    width: 119px;
    float: left;
}

.cart-list .cart-list-shop span {
    color: #999;
    text-align: right;
    padding: 5px 0;
    width: 60px;
    float: right;
    border-bottom: 1px solid #e6e6e6;
    margin-right: 10px;
}

.cl:after,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    overflow: hidden;
}

.cart-list .cart-list-goods {
    position: relative;
    width: 100%;
    overflow: hidden;
    zoom: 1;
}

.cl,
.clearfix {
    zoom: 1;
}

.cart-list-goods input[type="checkbox"] {
    margin: 20px 5px 5px;
    float: left;
}

.cart-list-goods .s-num {
    float: left;
    width: 59px;
    text-align: center;
    margin-top: 21px;
    line-height: 14px;
}

.cart-list-goods .s-num span {
    padding: 0 6px;
    line-height: 18px;
    background-color: #E05558;
    color: #fff;
    border-radius: 3px;
}

.cart-list-goods .s-g-price {
    float: left;
    width: 60px;
    float: left;
    text-align: right;
    line-height: 18px;
    padding-top: 19px;
}

.side-cart-c .side-bt {
    bottom: 20px;
    left: 0;
    padding: 0 54px;
    width: 190px;
    position: absolute;
    background-color: #e6e6e6;
}

.side-content {
    background: #fff;
    padding-bottom: 40px;
}

.side-cart-c .cart-total {
    color: #333;
    line-height: 30px;
}

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

.cart-list-goods img {
    width: 50px;
    height: 50px;
    margin: 5px;
    float: left;
}

.side-cart-c .side-bt input[type="button"] {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
    background-color: #e3393c;
    border: 0 none;
    cursor: pointer;
}

.side-cart-c .cart-total .total-money {
    float: right;
    color: #e3393c;
}

.side-cart-c .cart-total {
    color: #333;
    line-height: 30px;
}